# Tentando dar merge

In [9]:
import pandas as pd

arquivo = 'dados.xlsx'

realizado = pd.read_excel(arquivo, sheet_name='realizado')
orcado = pd.read_excel(arquivo, sheet_name='orcado')

planilha = [realizado, orcado]

merge = pd.concat(planilha)

#merge.to_excel('resultado.xlsx')

C:\Users\Linco\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [13]:
resultado = pd.read_excel('resultado.xlsx')

resultado.head(20)

,Mes_1,Mes_10,Mes_11,Mes_12,Mes_2,Mes_3,Mes_4,Mes_5,Mes_6,Mes_7,Mes_8,Mes_9,mês,orcado
NaN,janeiro,outubro,novembro,dezembro,fevereiro,março,abril,maio,junho,julho,agosto,setembro,NaN,NaN
Realizado,240,210,232,213,280,200,310,230,213,239,210,210,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,janeiro,330.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fevereiro,290.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,março,230.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abril,321.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,maio,283.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,junho,291.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,julho,193.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,agosto,259.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,setembro,289.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,outubro,230.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,novembro,434.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dezembro,421.0

In [24]:
resultado.loc['Realizado']

Mes_1        240
Mes_10       210
Mes_11       232
Mes_12       213
Mes_2        280
Mes_3        200
Mes_4        310
Mes_5        230
Mes_6        213
Mes_7        239
Mes_8        210
Mes_9        210
mês          NaN
orcado       NaN
realizado    NaN
Name: Realizado, dtype: object